<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<meta charset="utf-8">
	<title>Services</title>
</head>
<body>
	<div class="container">
		<h1>August 28</h1>

		<div class="services">
			<form>
			  <label for="service">Choose a service:</label>
			  <select name="service" id="service">
			    <option value="none">fofo</option>
			    <option value="none">fofo</option>
			    <option value="none">foof</option>
			    <option value="none">fofo</option>
			  </select>
			</form>
		</div>

		<div class="time_avalible">
			<form>
				<label for="time_slots">Choose a time:</label>
			  <select name="time_slot" id="time_slot">
			    <option value="none">fofo</option>
			    <option value="none">fofo</option>
			    <option value="none">foof</option>
			    <option value="none">fofo</option>
			  </select>
			</form>
		</div>
	</div>
</body>
</html>