<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'sharm_main/styles.css'%}">
    
    <meta charset="UTF-8">
    <title>Calendar</title>
</head>
<body>

    <div class="month top_left_right">
        <span class="left">left</span>
        <p>September 21</p>
        <span class="right">right</span>        
    </div>

<div class="days">
        <div>
            <p>Monday</p>
        </div>
        <div >
            <p>Tuesday</p>
        </div>
        <div>
            <p>Wednesday</p>
        </div>
        <div>    
            <p>Thursday</p>
        </div>
        <div>
            <p>Friday</p>
        </div>
        <div>
            <p>Saturday</p>
        </div>
        <div>
            <p>Sunday</p>
        </div>
</div>
<!-- -->
<div class="week_1 container">
    <div class="numbers row_1">
        <div class="column_1 col">
            <p>
                <a href="{% url 'services' %}" target="_blank">1</a>
            </p>
        </div>
        <div class="column_2 col">
            <p>
                <a href="#">2</a>
            </p>
        </div>
        <div class="column_3 col">
            <p>
                <a href="#">3</a>
            </p>
        </div>
        <div class="column_4 col">
            <p>
                <a href="#">4</a>
            </p>
        </div>
        <div class="column_5 col">
            <p>
                <a href="#">5</a>
            </p>
        </div>
        <div class="column_6 col">
            <p>
                <a href="#">6</a>
            </p>
        </div>
        <div class="column_7 col">
            <p>
                <a href="#">7</a>
            </p>
        </div>
    </div>
</div>

<div class="week_2 container">
    <div class="numbers row_2">
        <div class="column_1 col">
            <p>
                <a href="#">1</a>
            </p>
        </div>
        <div class="column_2 col">
            <p>
                <a href="#">2</a>
            </p>
        </div>
        <div class="column_3 col">
            <p>
                <a href="#">3</a>
            </p>
        </div>
        <div class="column_4 col">
            <p>
                <a href="#">4</a>
            </p>
        </div>
        <div class="column_5 col">
            <p>
                <a href="#">5</a>
            </p>
        </div>
        <div class="column_6 col">
            <p>
                <a href="#">6</a>
            </p>
        </div>
        <div class="column_7 col">
            <p>
                <a href="#">7</a>
            </p>
        </div>
    </div>
</div>
<div class="week_3 container ">
    <div class="numbers row_3">
        <div class="column_1 col">
            <p>
                <a href="#">1</a>
            </p>
        </div>
        <div class="column_2 col">
            <p>
                <a href="#">2</a>
            </p>
        </div>
        <div class="column_3 col">
            <p>
                <a href="#">3</a>
            </p>
        </div>
        <div class="column_4 col">
            <p>
                <a href="#">4</a>
            </p>
        </div>
        <div class="column_5 col">
            <p>
                <a href="#">5</a>
            </p>
        </div>
        <div class="column_6 col">
            <p>
                <a href="#">6</a>
            </p>
        </div>
        <div class="column_7 col">
            <p>
                <a href="#">7</a>
            </p>
        </div>
    </div>
</div>
<div class="week_4 container">
    <div class="numbers row_4">
        <div class="column_1 col">
            <p>
                <a href="#">1</a>
            </p>
        </div>
        <div class="column_2 col">
            <p>
                <a href="#">2</a>
            </p>
        </div>
        <div class="column_3 col">
            <p>
                <a href="#">3</a>
            </p>
        </div>
        <div class="column_4 col">
            <p>
                <a href="#">4</a>
            </p>
        </div>
        <div class="column_5 col">
            <p>
                <a href="#">5</a>
            </p>
        </div>
        <div class="column_6 col">
            <p>
                <a href="#">6</a>
            </p>
        </div>
        <div class="column_7 col">
            <p>
                <a href="#">7</a>
            </p>
        </div>
    </div>
</div>
<div class="week_5 container">
    <div class="numbers row_5">
        <div class="column_1 col bottom_left">
            <p>
                <a href="#">1</a>
            </p>
        </div>
        <div class="column_2 col">
            <p>
                <a href="#">2</a>
            </p>
        </div>
        <div class="column_3 col">
            <p>
                <a href="#">3</a>
            </p>
        </div>
        <div class="column_4 col">
            <p>
                <a href="#">4</a>
            </p>
        </div>
        <div class="column_5 col">
            <p>
                <a href="#">5</a>
            </p>
        </div>
        <div class="column_6 col">
            <p>
                <a href="#">6</a>
            </p>
        </div>
        <div class="column_7 col bottom_right">
            <p>
                <a href="#">7</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>